@tailwind base;
@tailwind components;
@tailwind utilities;
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
  color: #110305;
}
